.wrapper {
  display: flex;
}

.sideBar {
  display: flex;
  flex-direction: column;
  background-color: #edf2fb;
  height: 100vh;
  padding: 25px;
}

.sideBar div {
  font-size: 1.3em;
  border-bottom: #ff686b 2px solid;
  margin: 10px 0;
}

.view {
  flex: 1;
  padding: 20px;
}