.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff686bd2;
    height: 90px;
    /*border-bottom: #ff686b  2px solid;
    background-color: #edf2fb; */

}

.left-side {
    height: 100%;
    object-fit: contain;
    margin-left: 4rem;
}

.right-side {
    font-size: 1.2rem;
    margin-right: 3rem;
    padding: 5px 10px;
    border: 2px solid #edf2fb;
    /* border: 2px solid #ff686b ;*/
    border-radius: 20px;
    transition: all .3s ease;
}

.right-side:hover {
    box-shadow: 2px 2px 2px #edf2fb;
    transition: all .3s ease;
}

.link-login-nav {
    color: #edf2fb;
}

.logo {
    height: 100%;
}