:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}

.main-layout {
  display: flex;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}